
@{
    ViewData["Title"] = "ShowAllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bildirimler</h1>

@using EntityLayer.Concreate
@model List<Notification>
<table class="table">
    <tr>
        <th>#</th>
        <th>Bildirimler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.NotificationID</th>
            <td>@item.NotificationType</td>

            <td>@(((DateTime)item.NotificationDate).ToString("dd-MM-yyyy"));</td>

            <td>
                @if (!item.NotificationStatus)
                {
                    <span class="text-success">Okundu</span>
                }
                else
                {
                    <span class="text-danger">Aktif</span>
                }
            </td>
        </tr>
    }
</table>