@using EntityLayer.Concreate
@model List<Writer>
@{
    ViewData["Title"] = "WriterProfil";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Son 10 blog</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Yazar haqqında </th>
                               
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/CoreBlogTema/assets/images/faces/@item.WriterImage" class="mr-2" alt="image">@item.WriterName
                                    </td>

                                    <td>
                                        <h3 class="badge badge-gradient-success">@item.WriterMail</h3>
                                        <h4 class="badge badge-gradient-success">@item.WriterAbout</h4>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


