
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>ConfirmEmail</h1>
<h1>Hesabiniz onaylandi</h1>
<main>
    <a> @ViewBag.mesage1</a>
    <div> @ViewBag.mesage2</div>
    <h1> @ViewBag.mesage3</h1>
</main>


