
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">

    <div class="container">
        <h3 class="tittle">Şoifremi unuttdum</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                <form method="post" asp-action="Login" asp-controller="ForgotPassword">

                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputPassword1 mb-2">E-posta adresiniz</label>
                            <input type="email" class="form-control" placeholder="" required="" name="Email">
                        </div>

                     
                        <button asp-controller="Account" asp-action="ForgotPassword" type="submit" class="btn btn-primary submit mb-4">Giriş yap</button>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


