@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div id="create-text">
    <hr />
</div>
<form asp-controller="Account" asp-action="ResetPassword" method="POST" class="create">
    <div asp-validation-summary="All" class="create-danger">

    </div>
    <input type="hidden" name="Token" value="token">


    <label class="create-label " >Email</label>
    <input class="create-input" asp-for="Email" />
    <span class="create-danger" asp-validation-for="Email"></span>

    <label class="create-label " >Password</label>
    <input class="create-input" asp-for="Passwords" />
    <span class="create-danger" asp-validation-for="Passwords"></span>

    <button id="create-btn" asp-action="ResetPassword">Submit</button>

</form>
